*.bak
*.cache
*.log
*.obj
*.suo
*.swp
*.user
output
*ReSharper*
*resharper*
*.gpState
*.dotCover
*.eprj
.idea
*.pdb
_compareTemp
_notes
Thumbs.db
*.eprj*
~*.*
DebugBuild/
src/bin
src/Bin
src/obj
src/Obj
src/*/bin
src/*/Bin
src/*/obj
src/*/Obj
src/*/*/bin
src/*/*/obj
src/*/*/Bin
src/*/*/Obj
