<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="LogFileLocation" value=""/>
		<add key="DumpFileLocation" value=""/>
		<add key="LogUser" value=""/>
		<add key="StartTime" value="08:00:00 PM"/>
		<add key="EndTime" value="11:00:00 PM"/>
		<add key="LootChannel" value="an_loots"/>
	</appSettings>
</configuration>