<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="LogFileLocation" value=""/>
		<add key="DumpFileLocation" value=""/>
		<add key="LogUser" value=""/>
		<add key="RaidName" value=""/>
		<add key="RaidDate" value=""/>
		<add key="StartTime" value="08:30:00 PM"/>
		<add key="EndTime" value="11:30:00 PM"/>
		<add key="LootChannel" value="an_loots"/>
		<add key="AtStartPoints" value="1"/>
		<add key="AtEndPoints" value="1"/>
		<add key="PointsPerHour" value="1"/>
	</appSettings>
</configuration>